<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".debug.BleFastScanProbeActivity"
            android:exported="true"
            android:label="BLE Fast Scan Probe">
            <intent-filter>
                <action android:name="dev.bluehouse.bada.debug.BLE_FAST_SCAN_PROBE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
